.JobCard .profilePhoto {
  width: 40px;
}
.JobCard {
  cursor: pointer;
  background-color: white;
  position: relative;
  padding: 10px;
  width: 600px;
  display: flex;
  border-radius: 15px;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 2%;
  margin-top: 10px;
}
.JobCard .Data {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.InnerData {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.InnerData .Location {
  opacity: 0.7;
  font-size: 0.8rem;
}
.InnerData .Title {
  font-weight: bolder;
}
.InnerData .name {
  font-size: 0.9rem;
}
.JobCard .Data p {
  margin-bottom: 0;
}
.JobCard .Date {
  font-size: 0.8rem;
  opacity: 0.7;
  margin-left: 50px;
}
.JobCard .status {
  width: 150px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: green;
  color: white;
  border: 10px;
  font-weight: bolder;
  border-radius: 10px;
}
