.Main {
  background-color: #f4f2ee;
}
.Profile {
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2%;
}

.Profile .Left,
.Profile .Right {
  width: 49%;
  display: flex;
  flex-direction: column;
}
.Followers-ing {
  padding-left: 20px;
}
.Button {
  padding: 5px 10px;
  margin-left: 10px;
}
.Photos {
  position: relative;
  width: 70%;
  margin: auto;
}
.Photos .Banner {
  max-height: 400px;
  display: block;
  width: 100%;
  object-fit: cover;
  border-radius: 15px;
}
.basicInfo {
  margin: 10px;
  display: flex;
  align-items: center;
}
.title {
  font-size: 0.8rem;
  opacity: 0.8;
}
.Photos .profilePhoto {
  width: 150px;
  height: 150px;
  z-index: 10;
  position: relative;
  border-radius: 50%;
}
.Header {
  user-select: none;

  background-color: #f4f2ee;
  position: absolute;
  top: -22px;
  left: 18px;
}
.generalInfo,
.About,
.CV,
.Profile .Photos {
  position: relative;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 97%;
  margin: 40px auto;
  border: 1px solid var(--borders);
  border-radius: 15px;
  padding: 10px;
  padding-left: 20px;
  padding-top: 20px;
  margin-top: 20px;
}
.generalInfo .name,
.basicInfo .name {
  font-size: 1.2rem;
  margin-bottom: 0;
  font-weight: 500;
}
.generalInfo .location {
  opacity: 0.7;
  font-size: 0.9rem;
}
.generalInfo .Button {
  padding: 5px;
  width: 100px;
}
.Container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}
.selected-skills {
  margin: 5px 0;
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  align-items: center;
  color: black;
  flex-wrap: wrap;
}
.Skill {
  user-select: none;
  border-radius: 15px;
  padding: 0 10px;
  border: 1px solid var(--borders);
  width: fit-content;
}
