.Settings {
  display: flex;
  padding-top: 80px;
}
.Settings .SideBar {
  width: 12%;
}

.Settings .Main {
  width: 88%;
  background-color: white;
}
.Settings .BTNList {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.Settings .General form {
  display: flex;
  flex-direction: column;
  margin: 30px auto;
  margin-right: 120px;
  padding: 20px 0;
  border-radius: 15px;
  place-items: center;
  width: 90%;
}

.Settings .General #Uploads {
  display: flex;
  flex-direction: column;

  width: 100%;
}
.Settings .Photos {
  display: flex;
  gap: 10px;
}
.Settings .General #Area {
  grid-area: Area;
  display: flex;
  gap: 5%;
}

.Settings .General label,
.Settings .Privacy label {
  display: block;
  margin-bottom: 5px;
}
.FormItem {
  position: relative;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 97%;
  margin: 40px auto;
  border: 1px solid var(--borders);
  border-radius: 15px;
  padding: 10px;
  padding-left: 20px;
  padding-top: 20px;
  margin-top: 20px;
}
.FormItem h1 {
  margin-right: auto;
  background-color: white;
  position: absolute;
  top: -30px;
  left: 18px;
}
.FormItem .Picture {
  width: 100px;
  height: 100px;
  border-radius: 10px;
}
.FormItem .Cover {
  width: 300px;
  height: 100px;
  border-radius: 10px;
}
.Settings .General select,
.Settings .General input[type="date"] {
  margin: 10px 0 20px 0;
  border: none;
  background-color: transparent;
  color: black;
  border-bottom: 1px solid var(--buttons);
  height: 50px;
  width: 100%;
}
.Settings input:focus {
  outline: none;
}

.Settings .Privacy .Button-Wrapper {
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 10px;
  width: 50%;
  margin: auto;
  margin-top: 100px;
}
.Settings .Privacy .form-Wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  gap: 10px;
  margin: auto;
}
.Settings .Privacy input {
  width: 50%;
}
@media (max-width: 600px) {
  .Settings {
    flex-direction: column;
  }
  .Settings .SideBar {
    width: 100%;
  }
  .Settings .BTNList {
    flex-direction: row;
  }
  .Settings .Main {
    padding-left: 10px;
    width: 100%;
  }
}
.photoController {
  margin: 10px;
  display: flex;
  gap: 10px;
  width: fit-content;
  position: relative;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--borders);
  border-radius: 15px;
  overflow: hidden;
}
.photoController img {
  width: 250px;
  height: 250px;
}
.Delete-btn {
  position: absolute;
  top: 0px;
  right: 0;
  width: 25px;
  font-size: 1.3rem;
  cursor: pointer;
  border: none;
  background: white;
  color: black;
  border-bottom-left-radius: 5px;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  overflow-y: scroll;
}

.overlay-content {
  max-width: 70%;
  max-height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.overlay-content img {
  width: auto;
  height: auto;
  max-width: 100%;
}
